@model WebStore.Services.DTO.ProductDTO 

<div class="container panel panel-default ">
    <a name="ConditionerInfo"></a>
    <div class="row panel-body">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="~/Content/img/Conditioner/@Model.Brand/@Model.Series/Full.jpg" alt="Conditioner's image" class="img-thumbnail img-responsive" />
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-offset-1">
            <div class="panel-body">
                <p class="h3 col-md-6  col-sm-6 text-center"><strong>@Model.Brand</strong></p>
                <p class="h3 col-md-6 col-sm-6  text-center"><strong>@Model.Model</strong></p>
            </div>
            <p class="h5   "><span class="text-muted">Серия:</span> @Model.Series</p>

            <p class="h5   "><span class="text-muted">Тип:</span> @Model.TypeofConditioner</p>

            <p class="h5   "><span class="text-muted">Основной режим работы:</span> @Model.OperationMode</p>
            <p class="h5 "><span class="text-muted">Охлаждающая способность:</span> @Model.BTU BTU</p>
            <p class="h5 "><span class="text-muted">Обслуживаемая площадь:</span> @Model.ServiceArea m<sup>2</sup></p>
            <p class="h5  "><span class="text-muted">Мин. уровень шума внутреннего блока :</span> @Model.NoiseMin дБ</p>
            <p class="h5 "><span class="text-muted">Инвертор:</span> @Model.TypeOfCompressor</p>
            <p class="h5 "><span class="text-muted">Потребляемая мощьность при охлаждении:</span> @Model.ConsumPowerCold Вт</p>
            <p class="h5  "><span class="text-muted">Потребляемая мощьность при нагреве:</span> @Model.ConsumPowerHeat Вт</p>
            <p class="h5  "><span class="text-muted">Выдаваемая мощьность охлаждения:</span> @Model.ProducePowerCold Вт</p>
            <p class="h5  "><span class="text-muted">Выдаваемя мощьность нагрева:</span> @Model.ProducePowerHeat Вт</p>
            <p class="h5  "><span class="text-muted">Макс. воздушный поток:</span> @Model.WindFlowMax м<sup>3</sup>/ч</p>
            <p class="h5  "><span class="text-muted">Габариты НАРУЖНОГО блока:</span> @Model.OutUnitSize мм</p>
            <p class="h5  "><span class="text-muted">Габариты ВНУТРЕННЕГО блока:</span> @Model.InUnitSize мм</p>
            <p class="h5  "><span class="text-muted">Цена: </span> <span class="text-success h4">@Model.Price р. </span></p>

        </div>
    </div>
    <div class="row panel-body">
        <button type="button" class="btn btn-danger   col-md-3 col-md-offset-7   col-sm-offset-5 col-sm-3  col-xs-offset-1 col-xs-7">ПРИОБРЕСТИ </button>

    </div>
    <div class="row panel-body">
        <a class="btn btn-info     col-md-3 col-md-offset-7   col-sm-offset-5 col-sm-3  col-xs-offset-1 col-xs-7" href="@Model.MakerRef" target="_blank">На сайт изготовителя</a>
    </div>


</div>

